@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif, Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: white;
}

a {
    color: #faf8f8;
    font-weight: 600;
}

a:hover {
    cursor: pointer;
}

.uil {
    display: inline-block;
    height: 60% !important;
    width: 30px;
}

/* sidebar */




#sidebar {
    position: fixed;
    height: 100vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 260px;
    overflow: auto;
    transition: all 0.3s;
    background: #07023f;
    color: white;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}


#sidebar::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #eee;
    display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}


#sidebar:hover::-webkit-scrollbar {
    display: block;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
    display: block;
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-bottom: 10px;
}

.sidebar-header h3 {
    font-size: 26px;
    margin: 0px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 600;
}


#sidebar ul li {
    padding: 2px 10px;
    border-radius: 10px;
    color: rgb(201, 199, 199);
}

#sidebar ul li.active>a {
    color: white;
    background-color: blue;
}

#sidebar ul li a:hover {
    color: rgb(179, 177, 177);
    background-color: blue;
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}



#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul li a {
    padding: 10px;
    line-height: 26px;
    border-radius: 10px;
    font-size: 17px;
    position: relative;
    font-weight: 600;
    display: block;
}

#sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}

.sidebar-footer {

    /* bottom: 0; */
}

.footer-card {
    position: absolute;
    bottom: 0;
    width: 90%;
    max-width: 290px;
    height: 60px;
    margin: 5px 10px;

    background: #352f51;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
}


.footer-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    /* background: url(./profile.jpg); */
}

.footer-textBox {
    width: 90%;
    margin-left: 10px;
    color: white;

}

#sidebar.show-nav,
.body-overlay.show-nav {
    transform: translatex(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;
}


#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
    color: #555555;
    margin-left: 10px;
}

/*  */


#content {
    position: relative;
    transition: all 0.3s;
    background-color: #EEEEEE;
}

.top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;
}



.main-content {
    padding: 10px 20px 0px 20px;
    position: relative;
    width: 100%;
}



.navbar {
    background-color: #2196F3;
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar button {
    background-color: transparent;
    border: none;
}

.navbar button span {
    color: #fff;
}

#sidebarCollapse {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-right: 20px;
    border: none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
    margin: 9px;
    padding: 0px;
}



.navbar-nav>li.active {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav>li>a {
    color: #FFFFFF;
}


.navbar .notification {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #d9534f;
    min-width: 15px;
    text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}


.navbar-nav>li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}


.dropdown-menu li>a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 150ms linear;
}

.navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.08);
}


.navbar-nav li a {
    position: relative;
    display: block;
    padding: 10px 15px !important;
}

.Content-Notification {
    width: 100%;
    z-index: 9;
    padding: 10px;
    /* padding-top: 30px; */
    position: relative;

    /* height: 20vh; */
}

.col-card {

    --dark-grey: #353535;
    --middle-grey: #767676;
    --lightest-grey: linear-gradient(#fafafa, #ebebeb);
    --shadow: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --border-radius-main: 10px;
    --border-radius-icon: 50px;
    position: relative;
    display: flex;
    text-align: center;
    height: 80px;
    /* width: 230px; */
    align-items: center;
    cursor: default;
    color: var(--dark-grey);
    opacity: .9;
    margin: auto;
    padding: 1.5rem;
    font-weight: 600;
    background: var(--lightest-grey);
    max-width: 30rem;
    border-radius: var(--border-radius-main);
    -webkit-border-radius: var(--border-radius-main);
    -moz-border-radius: var(--border-radius-main);
    -ms-border-radius: var(--border-radius-main);
    -o-border-radius: var(--border-radius-main);
    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
}

.main-card {

    --dark-grey: #353535;
    --middle-grey: #767676;
    --lightest-grey: linear-gradient(#fafafa, #ebebeb);
    --shadow: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --border-radius-main: 10px;

    position: relative;

    cursor: default;
    color: rgb(21, 21, 21);
    opacity: .9;
    margin: 15px auto;
    padding: 1.5rem;
    font-weight: 600;
    background: var(--lightest-grey);
    width: 100%;
    border-radius: var(--border-radius-main);
    -webkit-border-radius: var(--border-radius-main);
    -moz-border-radius: var(--border-radius-main);
    -ms-border-radius: var(--border-radius-main);
    -o-border-radius: var(--border-radius-main);
    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
}

.col-card:hover {
    box-shadow: var(--shadow-active);
    -moz-box-shadow: var(--shadow-active);
    -webkit-box-shadow: var(--shadow-active);
}


.cta {
    position: relative;
    margin: auto;
    padding: 8px 8px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: trasperent;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}



.cta svg {
    position: relative;
    top: 0;
    margin-left: 20px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 90%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.col-notification {
    font-size: 20px;
    font-weight: 700
}

.Messages-class a {
    font-weight: 600;
    color: rgb(56, 56, 56);
}

.Messages-class a:active {
    font-weight: 600;
    color: black;
    border-bottom: #353535;
}

.fullpipe:hover {
    color: blue;
}

.hoverRow:hover {
    border: 1px dashed rgb(181, 6, 220);
}

.pipeline-row {
    display: flex;
    padding: 10px;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
}

/* 
 */
/*  */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px) {
    #sidebar.active {
        width: 80px;
        height: 100% !important;
        position: absolute !important;
        overflow: visible !important;
        top: 0 !important;
        z-index: 666;
        float: left !important;
        bottom: 0 !important;
    }



    #sidebar.active .sidebar-header h3 span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active ul li a span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active .dropdown-toggle::after {
        display: none;
        transition: all 0.5s ease;
    }

    #content {
        width: calc(100% - 260px);
        position: relative;
        float: right;
        transition: all 0.3s;
        background-color: #EEEEEE;
    }

    #content.active {
        width: calc(100% - 80px);
    }

    #sidebar.active .menu {
        position: absolute;
        left: 81px;
        background-color: white;
        width: 180px;
        height: auto;
        margin: 5px 0;
        top: 0;
        border: 1px solid #dcd9d9;
        z-index: 4;
    }
}

#Dash-button {
    display: none;
}

@media only screen and (min-width:992px) {}


/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width:992px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 260px;
        transform: translatex(-100%);
        transition: all 150ms linear;
        box-shadow: none !important;
    }

    .body-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        transition: all 150ms linear;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #Dash-button {
        display: block;
    }
}